body {
    /* width: 800px; */
    /* margin: 0 auto; */
    font-family: 'Montserrat', sans-serif;
    padding-top: 3rem;
    color: black;
}

body p {
    line-height: 28px;
    margin-bottom: 3rem;
}

body header {
    margin-bottom: 4rem;
}

body header h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

body header h2 {
    font-weight: 900;
    font-size: 3rem;
}

body header h2 a {
    text-decoration: none;
}

body h1 {
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

body h2 {
    font-weight: 900;
    margin: 1.5rem 0;
    font-size: 2.5rem;
}

body h2 a {
    text-decoration: none;
    color: hotpink;
}

.wrapper {
    margin-top: 4rem;
}

strong {
    font-weight: bold;
}

ol {
    list-style-type: decimal;
    padding-left: 15px;
}

ul {
    list-style-type: circle;
    padding-left: 18px;
    margin-bottom: 3rem;
}

.code-toolbar {
    margin-bottom: 3rem;
}