body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
    color: black;
}

body p {
    line-height: 28px;
    margin-bottom: 2rem;
}

body header {
    margin-bottom: 3rem;
}

body header h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

body header h2 {
    font-weight: 900;
    font-size: 2rem;
}

body header h2 a {
    text-decoration: none;
}

body h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

body h2 {
    font-weight: 900;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

body h2 a {
    text-decoration: none;
    color: hotpink;
}

.wrapper {
    margin-top: 3rem;
}

strong {
    font-weight: bold;
}

ol {
    list-style-type: decimal;
    padding-left: 15px;
}

ul {
    list-style-type: circle;
    padding-left: 18px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  body {
      margin: 0;
  }
}

