html {
    background-color: #F2F2F0;
}

.errorlist {
    color: white;
    font-weight: bolder;
}

/*Base style*/


.header {
    background-color: #055BA6;
    padding: 1rem;
}

.header-nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__menu {
    display: flex;
    margin: 0;
}

.header-nav__menu-item {
    list-style-type: none;
    margin: 0 2rem;
}

.header-nav__title {
    font-weight: bolder;
    margin: 0;
}


.article-container {
    margin-top: 8rem;
    /*border: 1px solid gold;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.article {
   background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    /*border:1px solid red;*/
    width: 48%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 100%;
}

.article:hover {
    color: black;
}

.article__content {
    padding: 0.5rem 2rem 2rem 2rem;
}

.article__footer {
    display: flex;
    align-items: center;
}

.article__footer span {
    font-weight: bolder;
}

.article__author-avatar {
    border-radius: 50%;
    width: 100%;
    max-width: 44px;
    height: auto;
    margin-right: 1rem;
}

.article__image {
    width: 100%;
    height: auto;
}

.article__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.article__date {
    color: #F28888;
}

.article__tag {
    color: #0F6CA6;
}

.article__title {
    color: #F25C78;
    font-weight: bolder;
}


/*Article detail*/


.hero-image {
    width: 100%;
    height: auto;
}

.blog-container {
    line-height: 2.8rem;
}

.blog-container h1 {
    margin-top: 4.5rem;
    font-weight: bolder;
}



/*Editor*/

.container-writter {
    display: flex;
    justify-content: space-between;
}

.writter-sidebar {
    background-color: #0F6CA6;
    width: 13%;
    padding: 2rem 4rem;
}

.writter-sidebar__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writter-sidebar__form__control {
    width: 100%;
    color: white;
    font-weight: bolder;
}

.writter-sidebar__form__control-black {
    color: #222;
}

.writter-sidebar__form__select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.writter-sidebar__form__multiselect {
    height: 100%;
}



.writter-sidebar__form__button {
    margin: 1rem 0;
    background-color: #F25C78;
    border: 0;
    color: white;
    border-radius: 0;
}

/* On screens that are 350px or less, set the background color to blue */
@media screen and (max-width: 350px) {
    header nav h1 {
        font-size: 1.5rem;
    }
}

/* On screens that are 350px or less, set the background color to blue */
@media screen and (max-width: 800px) {
    .article {
        width: 100%;
    }
}