{% extends 'base.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
{% endblock %}

{% block title %}
    {{ article.name }}
{% endblock %}



{% block content %}
    <img class="hero-image" src="{{ article.hero_image.url }}" alt="">
    <div class="container blog-container">
        <div class="row">
            {{ article.compiled_content | safe }}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="{% static 'js/code.js' %}"></script>
{% endblock %}