<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'nuevo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap" rel="stylesheet">
    {% block extrastyles %}
    {% endblock %}
    <title>{% block title %}MztProgramming{% endblock %}</title>
</head>
<body>
{% block header %}
    <header>
        <nav class="container">
            <h1>MztProgramming</h1>
            <ul>
                {% if authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock %}
{% block content %}

{% endblock %}
{% block extrascripts %}
{% endblock %}
</body>
</html>