{% extends 'base.html' %}

{% load static %}

{% block title %}
    Nuevo articulo
{% endblock %}


{% block content %}

    <style type="text/css" media="screen">
        #editor {
            width: 875%;
            height: 91vh;
        }
    </style>



    <div class="container-writter">
        <div class="writter-sidebar">
            <form id="editor-form" method="POST" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}

                {{ form.raw_content }}

                {{ form.raw_content.errors }}

                <button type="submit" class="writter-sidebar__form__control button writter-sidebar__form__button">Guardar</button>
                <button class="writter-sidebar__form__control button writter-sidebar__form__button">Previsualizar</button>

                <label class="writter-sidebar__form__control" for="{{ form.name.id_for_label }}">Nombre</label>
                {{ form.name }}
                {{ form.name.errors }}

                <label class="writter-sidebar__form__control" for="{{ form.hero_image.id_for_label }}">Hero image</label>
                {{ form.hero_image }}
                {{ form.hero_image.errors }}

                <label class="writter-sidebar__form__control" for="{{ form.status.id_for_label }}">Status</label>
                {{ form.status }}
                {{ form.status.errors }}

                <label class="writter-sidebar__form__control" for="{{ form.tags.id_for_label }}">Tags</label>
                {{ form.tags }}
                {{ form.tags.errors }}

                <label class="writter-sidebar__form__control" for="{{ form.short_content.id_for_label }}">Short Content</label>
                {{ form.short_content }}
                {{ form.short_content.errors }}


            </form>

        </div>
        <div id="editor"># Nuevo</div>
    </div>

{% endblock %}


{% block extrascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-markdown.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dracula");
        editor.getSession().setMode("ace/mode/markdown");
        editor.setValue(document.getElementById('id_raw_content').value);
        document.getElementById('editor-form').addEventListener('submit', function (event) {
            document.getElementById('id_raw_content').value = editor.getValue()
        });
    </script>
{% endblock %}






