
html {
    background-color: #F2F2F0;
}

header {
    background-color: #055BA6;
    padding: 1rem;
}

header nav {
    color: white;

}

header nav h1 {
    font-weight: bolder;
    margin: 0;
}

.article-container {
    margin-top: 8rem;
}

.article {
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
}

.article--content {
    padding: 0.5rem 2rem 2rem 2rem;

}

.article--footer {
    display: flex;
    align-items: center;
}

.article--footer span {
    font-weight: bolder;
}

.article--author-avatar {
    border-radius: 50%;
    width: 100%;
    max-width: 44px;
    height: auto;
    margin-right: 1rem;
}

.image--article {
    width: 100%;
    height: auto;
}

.article--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.article--header--text {
    font-weight: bolder;
}

.article--date {
    color: #F28888;
}

.article--tag {
    color: #0F6CA6;
}

.article--title {
    color: #F25C78;
    font-weight: bolder;
}

.hero-image {
    width: 100%;
    height: auto;
}

.blog-container {
    line-height: 2.8rem;
}

.blog-container h1 {
    margin-top: 4.5rem;
    font-weight: bolder;
}

.container-writter {
    display: flex;
    justify-content: space-between;
}


.writter-sidebar {
    background-color: #0F6CA6;
    width: 13%;
    padding: 2rem 4rem;
}

.writter-sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar--control {
    width: 100%;
}


.button-editor {
    margin: 1rem 0;
    background-color: #F25C78;
    border: 0;
    color: white;
    border-radius: 0;
}


/* On screens that are 350px or less, set the background color to blue */
@media screen and (max-width: 350px) {
    header nav h1 {
        font-size: 1.5rem;
    }
}